<div class="{{ 'lg:fixed' if path == 'home' }} w-full">
  <nav class="      flex      items-center      justify-center      lg:justify-between      flex-wrap      p-6      lg:px-0      container      mx-auto    " x-data="{ isOpen: false }" @keydown.escape="isOpen = false">
    <!--Logo etc-->
    <div> {% if '/blog' in page.url or '/posts' in page.url %} 
      <img src="https://ayudaparalamujer.org/img/logo.png" alt="logo" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
    </div> {%else%} 
    <img src="https://ayudaparalamujer.org/img/logo.png" alt="logo" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
</div> {% endif %} {% if '/blog' in page.url or '/posts' in page.url %} <div>
  <a href="/" class="text-black mx-4 font-bold text-3xl">Ayuda Para La Mujer</a>
</div> {%else%} <div>
  <a href="/" class="text-white mx-4 font-bold text-3xl">Ayuda Para La Mujer</a>
</div> {% endif %}
<!--Toggle button (hidden on large screens)-->
<button @click="isOpen = !isOpen" type="button" class="
        ml-auto
        block
        lg:hidden
        px-2
        text-primary-500
        hover:text-primary-500
        focus:outline-none focus:text-primary-500
      " :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
  <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
    <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
    <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
  </svg>
</button>
<!--Menu-->
<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-center" :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" @click.outside="isOpen = false" x-transition="true"> {% if navigation.items %} <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center"> {% for item in navigation.items %} <li class="nav__item mr-3"> {% if '/blog' in page.url or '/posts' in page.url %} <a @click="isOpen = false" class="
              font-bold
              text-lg
              inline-block
              text-gray-800
              no-underline
              hover:text-gray-400
              py-2
              px-2
            " href="{{ item.url }}">{{ item.text }}</a> {%else%} <a @click="isOpen = false" class="
              font-bold
              text-lg
              inline-block
              lg:text-gray-300

            text-gray-800
              no-underline
              hover:text-red-200
              py-2
              px-2
            " href="{{ item.url }}">{{ item.text }}</a> {% endif %} </li> {% endfor %} </ul> {% endif %} </div>
</nav>
</div>